<nav class="navbar navbar-expand-lg bg-white fixed-top ">
    <div class="container-fluid">

        <a class="navbar-brand align-self-baseline" ><i class="fa-solid fa-bars me-3"></i>Jira Software</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-dark">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark content-hover"  role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Your Work
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="board">Board</a></li>
                        <li><a class="dropdown-item" a>Another action</a></li>
                     
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark content-hover"  role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Projects
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let project of datas" (click)="setProject(project)"><a class="dropdown-item" >{{project.projectName}}</a></li>
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark content-hover"  role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Filters
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" >Action</a></li>
                        <li><a class="dropdown-item" >Another action</a></li>
                       
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark content-hover"  role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Apps
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="project" >Create New Project</a></li>
                        <li><a class="dropdown-item" href="users">Create New User</a></li>
                        
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" >
                        <button class="btn bg-primary p-0 px-1  text-white " data-bs-toggle="modal"
                            data-bs-target="#exampleHelloModal">Create</button></a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control " type="search" placeholder="Search" aria-label="Search">
                <button class="btn m-0 p-0 " type="submit"><i
                        class="fa-solid fa-bell content-hover p-2"></i></button>
                <button class="btn m-0 p-0 " type="submit"><i
                        class="fa-solid fa-question content-hover p-2"></i></button>
                <button class="btn m-0 p-0 " type="submit"><i
                        class="fa-solid fa-gear content-hover p-2"></i></button>
                <!-- <div class="bg-primary rounded-circle text-white w-25 h-25 py-2 text-center" (click)="onLogout()">
                    ss
                </div> -->
                <div class="row">
                    <div >
                      <button
                        type="button"
                        class="btn btn-success btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#exampleModal100"
                        data-bs-backdrop="false"
                      >
                        Profile
                      </button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid  pt-5">
    <router-outlet></router-outlet>
</div>

<div class="modal " id="exampleHelloModal" tabindex="-1" aria-labelledby="exampleHelloModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <!-- model header -->
            <div class="modal-header d-flex ">
                <div>
                    <h1 class="modal-title fs-5" id="exampleHelloModalLabel">Create Issue</h1>
                </div>
                <div>
                    <button type="button" class="btn"><i class="fa fa-minus fs-5"></i></button>
                    <button type="button" class="btn"><i class="fa-solid fa-arrow-down fs-5"></i></button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


            </div>
            <!-- model body -->
            <div class="modal-body">
                <div class="container">
                    <!-- project  first row -->
                    <div class="row">
                        <div class="col-6">
                            <div class="project-model">
                                <label for="">Project <span class="text-danger">*</span></label>
                                <select name="" id="" class="form-select mb-3 bg-light">
                                    <option *ngFor="let project of datas" [value]="project.projectId">{{project.projectName}}</option>
                                   
                                </select>

                                <label for="">Issue Type<span class="text-danger">*</span></label>
                                <select name="" id="" class="form-select bg-light">
                                    <option value=""><i class="fa-solid fa-square-check"
                                            style="color: #7ea6ec;"></i> Select Task</option>
                                    <option *ngFor="let issue of issueTypes">{{issue}}</option>
                                    
                                </select>
                                <a href="#">Learn More</a>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn text-primary"><i class="fa-solid fa-eye"
                                        style="color: #093177;"></i>1</button>
                                <button type="button" class="btn">Import Issue</button>
                                <button type="button" class="btn"><i class="fa fa-ellipsis"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- status Secoond row -->
                    <div class="row">
                        <!-- Status -->
                        <div class="col-12">
                            <label for="">Status <span><i class="fa fa-circle-info"></i></span></label>
                        </div>
                        <div class="col-12  mb-3 status">
                            <select name="" id="" class="mb-1 bg-light form-select-sm">
                                <option *ngFor="let data of status">{{data}}</option>
                                
                            </select>
                            <p class="text-secondary m-0 p-0 fw-semibold">This is the issue's initial status upon
                                creation</p>
                        </div>
                        <!-- Summary -->
                        <div class="col-12  mb-3">
                            <label for="">Summary <span class="text-danger">*</span></label>
                            <input type="text" name="summary" [(ngModel)]="ticketObj.summary" class="form-control border inputbg border-2">
                        </div>
                        <!-- Description -->
                        <div class="col-12 mb-3">
                            <label for="">Description</label>
                            <textarea name="description" [(ngModel)]="ticketObj.description" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <!-- Assignee -->

                        <div class="col-6 mb-3">
                            <label for="">Assignee</label>
                            <select name="assignedTo" [(ngModel)]="ticketObj.assignedTo" class="form-select mb-3 bg-light">
                                <option >{{ticketObj.assignedTo}}</option>
                                <option *ngFor="let userList of data" [value]="userList.userName">{{userList.userName}}</option>
                               
                            </select>
                            <span><a  class="text-decoration-none fw-semibold">Assign to me</a></span>
                        </div>

                        <!-- labels -->
                        <div class="col-12  ">
                            <label for="">labels</label>
                        </div>
                        <div class="col-6  mb-3">
                            <div>

                                <select name="" id="" class="mb-1 form-select bg-light">
                                    <option value="">Select label</option>
                                    <option value="">option2</option>
                                    <option value="">option3</option>
                                </select>
                            </div>

                        </div>

                        <!-- Reporter -->
                        <div class="col-12">
                            <label for="">Reporter <span class="text-danger">*</span></label>
                            <select name="createdBy" [(ngModel)]="ticketObj.createdBy" class="form-select mb-3 bg-light">
                                <option>{{ticketObj.createdBy}}</option>
                                <option *ngFor="let userList of data" [value]="userList._id">{{userList.userName}}</option>
                               
                            </select>
                        </div>
                      
                        <!-- Attachment -->
                        <div class="col-12 mb-3">
                            <label for="">Attachment</label>
                            <div class="border border-dotted text-center p-5">
                                <span><i class="fa fa-cloud-arrow-up"></i>Drop files to attach or <a 
                                        class="text-decoration-none">browse</a></span>
                            </div>
                        </div>
                        <!-- Linked Issues -->
                        <div class="col-6 mb-3">
                            <div>
                                <label for="">Linked Issues</label>
                                <select name="" id="" class="mb-1 form-select bg-light">
                                    <option value="">Select label</option>
                                    <option value="">option2</option>
                                    <option value="">option3</option>
                                </select>
                                <select name="" id="" class="mb-1 form-select bg-light">
                                    <option value="">Select label</option>
                                    <option value="">option2</option>
                                    <option value="">option3</option>
                                </select>
                            </div>

                        </div>
                        <!-- Flagged -->
                        <div class="col-12">
                            <label for="">Flagged</label>
                        </div>
                        <div class="col-6 mb-3">
                            <div class=" rounded-2 bg-light border border-2 d-flex justify-content-between">
                                <input type="text" name="" id="" class="border-0 bg-light form-control">
                                <button class="btn border-0"><i class="fa fa-chevron-down"></i></button>
                            </div>
                            <p class="text-secondary fw-semibold">Allows to flag issues with impediments.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model footer -->
            <div class="modal-footer justify-content-between">

                <div>
                    <input type="checkbox" name="" id=""><span>
                        Create another issue</span>
                </div>
                <div>

                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="createTicket()">Create</button>
                </div>

            </div>
        </div>


    </div>
</div>

<div
class="modal"
id="exampleModal100"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
data-bs-backdrop="false"
>
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
    </div>
    <div class="modal-body">
     <div  (click)="openProfileModal()" style="cursor: pointer; margin-bottom: 10px">My Profile</div>
     <div (click)="openChangePasswordModal()" style="cursor: pointer; margin-bottom: 10px">Change Password</div>
     <div (click)="onSignOut()" style="cursor: pointer; margin-bottom: 10px">Sign Out</div>
    </div>
  </div>
</div>
</div>